<article class="border-black border-2 rounded-md overflow-clip">
    <h2>{{name}}</h2>
    <p>{{id}}</p>
    <img class="w-full h-auto" src="{{url}}" alt="alt image stuff">
    <p>{{url}}</p>
    <p>{{width}} x {{height}}</p>
</article>