{% extends "layout.html" %}


{% block content %}
<main>
    <div class="container mx-auto">
        <h2>test</h2>
        <h2>welcome to my image service 2222</h2>
        <figure class="my-4 post-detail">
            <h2>{{post.id}}</h2>
            <figcaption>{{post.name}}</figcaption>
            <img class="w-full" style="view-transition-name: post-{{post.id}}" view-transition-name="post-{{post.id}}"
                src="{{post.url}}" alt="">
        </figure>
    </div>
</main>

{% endblock %}