<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <h1>{{title}}</h1>
        <h2>welcome to my image service 22</h2>
        {{#posts}}
        {{>partials/postItem.handlebars}}
        {{/posts}}
        {{^posts}}<p>No posts yet :(</p>{{/posts}}
        <footer>end of content 2</footer>
    </main>
</body>

</html>